@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --global-font-family: 'Mulish', sans-serif;;
  --global-text-color: #515151;
  --global-color-main: #102E46;
  --global-color-lightblue: #E9FBFF;
  --global-color-header: #1A6FB5;
  --global-color-white: #ffffff;
  --global-color-pale-white: #9b9b9b; /*Please name the variant, I don't know*/
}
h1 {
  position: relative;
  z-index: 1;
  padding-bottom: 15px;
}

h1:after {
  content: "";
  position: absolute;
  left: 3px;
  bottom: 0;
  width: 100px;
  border-bottom: 3px solid var(--global-color-main);
}
.btn{
  width: 120px;
  height: 40px;
  border-radius: 25px !important;
}
.btn-primary{
  background-color: var(--global-color-main) !important;
  color: var(--global-color-white) !important;
}
.btn-outline-primary{
  border-color: var(--global-color-main) !important;
}
.btn-outline-primary:hover {
  background-color: var(--global-color-main) !important;
  color: var(--global-color-white) !important;
}
